/***
 *    .██████╗.█████╗.██████╗.██████╗.███████╗
 *    ██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝
 *    ██║.....███████║██████╔╝██║..██║███████╗
 *    ██║.....██╔══██║██╔══██╗██║..██║╚════██║
 *    ╚██████╗██║..██║██║..██║██████╔╝███████║
 *    .╚═════╝╚═╝..╚═╝╚═╝..╚═╝╚═════╝.╚══════╝
 *    ........................................
 */

@import "./Vars.scss";
@import "./mixins/status";

.Card {
  background-color: $ColorWhite;
  border-radius: 8px;
  padding: 16px 18px;
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px $ColorBackground;
    padding-bottom: 8px;
    align-items: center;
    &-active {
      @include -status($ColorSecundary)
    }
    &-finish {
      @include -status($ColorFinish)
    }
    &-button {
      background-color: $ColorBrand;
      height: 26px;
      padding: 2px 31px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
        color: $ColorWhite;
        margin: 0;
        font-family: $font1;
        font-size: 14px;
        &:hover{
          color: $ColorWhite;
        }
      }
      & p {
        color: $ColorWhite;
        margin: 0;
        font-family: $font1;
        font-size: 14px;
        height: 16px;
      }
    }
    &-btnBack {
      display: flex;
      align-items: center;
      width: 60px;
      justify-content: space-around;
      & p {
        height: 20px;
        color: $ColorSecundary;
      }
      & path {
        fill: $ColorSecundary;
      }
    }
  }
  &__info {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    &-user {
      display: flex;
      align-items: center;
      & img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        margin-right: 4px;
      }
    }
    &-time {
      display: flex;
      color: $ColorBrand;
      align-items: center;
      & svg {
        display: flex;
        margin-right: 6px;
        font-size: 18px;
        & path {
          opacity: 0.5;
        }
      }
      & p {
        margin-top: 4px;
      }
    }
  }
  &__content {
    display: flex;
    color: $ColorText;
    &-border {
      border-right: solid 2px $ColorSecundary;
      margin-right: 12px;
    }
    &-text {
      font-size: 16px;
      & h3 {
        font-size: 16px;
      }
      & p {
        margin-top: 11px;
        color: $ColorText;
        font-family: $font3;
        font-size: 13px;
        line-height: 1.38;
        opacity: 0.7;
        max-height: 66px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }
    &-textD {
      font-size: 17px;
      & h3 {
        font-size: 32px;
      }
      & p {
        margin-top: $Space1;
        font-family: $font2;
        opacity: 0.8;
      }
    }
    &-menu {
      z-index: 10;
      & button {
        border: none;
        background: none;
        display: flex;
        &:focus {
          outline: none;
          opacity: 0.7;
        }
      }
      & path {
        fill: $ColorGray;
      }
    }
  }
  &__new {
    height: 64px;
    width: 64px;
    background-color: $ColorBrand;
    box-shadow: 0 8px 24px 0 rgba(66, 81, 149, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ColorWhite;
    font-size: 24px;
    position: fixed;
    right: 26px;
    bottom: 24px;
    z-index: 19;
    & a{
      color: $ColorWhite;
      &:hover{
        color: $ColorWhite;
      }
    }
  }
}

.Modal {
  position: initial;
  margin-left: -103px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px 28px 10px 9px;
  box-shadow: 0 4px 16px 0 rgba(71, 87, 162, 0.34);
  font-family: "Gilroy SemiBold",
  sans-serif;
  display: grid;
  z-index: 11;
  &__watch {
    color: $ColorBrand;
    font-size: 14px;
    & svg {
      font-size: 19px;
      margin-right: 7px;
      & path {
        fill: $ColorBrand;
      }
    }
  }
  &__delete {
    color: $ColorGray;
    opacity: 0.8;
    font-size: 14px;
    & svg {
      font-size: 18px;
      margin-right: 10px;
      & path {
        fill: $ColorGray;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .Card{
    grid-template-areas: "header header" 1fr
                          "info content" 1fr/ 2fr;
  }
}